.action-label {
    color: #3C5AFD;
    font-size: 24;
    font-weight: bold;
    vertical-align: center;
}

.submit-button {
    float: right;
}

StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: white;
}