<ActionBar title="ActionBar">
    <DockLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Label text="Australia"  class="action-label"></Label>
        <Button class="btn btn-primary btn-active submit-button" (tap)="logOut()" dock="right" text="Sign Out"></Button>
    </DockLayout>
</ActionBar>
    
<StackLayout>
    <RadDataForm [source]="album">
        <TKEntityProperty tkDataFormProperty name="albumName" displayName="Name of Album" index="0"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="bandName" displayName="Name of Band" index="1"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="year" displayName="Release Year" index="2"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="myRating" displayName="My Rating" index="3"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="owned" displayName="Do I Own This?" index="4"></TKEntityProperty>
    </RadDataForm>
</StackLayout>